<!-- page content -->
      <div class="right_col" role="main">
        <div class=""></div>
        <!-- /top tiles -->
        <br />
      </div>
      <!-- /page content -->

    </div>
  </div>
    <div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>

  <script src="/stylesheets/Admin/js/bootstrap.min.js"></script>

  
  <!-- bootstrap progress js -->
  <script src="/stylesheets/Admin/js/progressbar/bootstrap-progressbar.min.js"></script>
  <script src="/stylesheets/Admin/js/nicescroll/jquery.nicescroll.min.js"></script>
 
  <!-- chart js -->
  <script src="/stylesheets/Admin/js/custom.js"></script>
  <!-- /footer content -->