<<<<<<< HEAD
<<<<<<< refs/remotes/origin/master
=======
>>>>>>> parent of b41642a... Update information user
{{> headLayoutUser}}
  <body>
   
    {{> headerLayoutUser}}
    {{success_msg}}
    {{{body}}}
	{{> tailLayoutUser}}
  </body>
</html>
<<<<<<< HEAD
=======
{{> headLayoutUser}}
  <body>
   
    {{> headerLayoutUser}}
    {{{body}}}
	{{> tailLayoutUser}}
  </body>
</html>
>>>>>>> distributed
=======
>>>>>>> parent of b41642a... Update information user
