<<<<<<< refs/remotes/origin/master
{{> headLayoutUser}}
  <body>
   
    {{> headerLayoutUser}}
    {{success_msg}}
    {{{body}}}
	{{> tailLayoutUser}}
  </body>
</html>
=======
{{> headLayoutUser}}
  <body>
   
    {{> headerLayoutUser}}
    {{{body}}}
	{{> tailLayoutUser}}
  </body>
</html>
>>>>>>> distributed
