        <div id="content" class="float_r">
        	<h1> Products</h1>
            {{# each Products}}
            {{# each this}} 
            {{> showproducts}}
            {{/each}}  
            {{/each}}
        </div>
        <div class="cleaner"></div>
       
    </div> <!-- END of templatemo_main -->